<body class="container-fluid" style="background-color:rgb(0, 32, 44);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="/proyectos">
            <img src="media/icono.png" alt="" width="30" height="24" class="d-inline-block align-top">
            Natgas
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
              <% if (userRol == 78000) { %>
              <li class="nav-item">
                <a type="button" class="nav-link" data-toggle="modal" data-target="#AgregarProyecto">
                  Agregar proyecto
                </a>
                <!-- Modal -->
                <div class="modal fade" id="AgregarProyecto" tabindex="-1" role="dialog" aria-labelledby="AgregarProyectoLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="AgregarProyectoLabel">Nuevo Proyecto</h5>
                        <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/proyectos/nuevo_proyecto" method="POST" enctype="multipart/form-data">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                          <div class="mb-3">
                              <label for="nombre_proyecto" class="form-label">Nombre:</label>
                              <input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto" required>
                          </div>
                          <div class="mb-3">
                              <label for="descripcion" class="form-label">Descripción:</label>
                              <textarea class="form-control" aria-label="With textarea" id="descripcion" name="descripcion" required></textarea>
                          </div>
                          <div class="mb-3">
                              <div class="form-group">
                                <label for="imagen" class="form-label">Imagen:</label>
                                <input type="file" class="form-control-file" id="imagen" name="imagen" required>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label for="users" class="form-label">Involucrados:</label>
                              <select class="form-control" id="users" name="users" multiple data-live-search="true" required>
                                  <% for (let user of users) { %>
                                    <option value="<%= user.nombre_usuario %>"> <%= user.nombre_usuario %> </option>
                                  <% } %>
                              </select>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Agregar Proyecto</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a type="button" class="nav-link" data-toggle="modal" data-target="#RegistrarUsuario">
                  Registrar Usuario
                </a>
                <!-- Modal -->
                <div class="modal fade" id="RegistrarUsuario" tabindex="-1" role="dialog" aria-labelledby="RegistrarUsuarioLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="RegistrarUsuarioLabel">Registrar Nuevo Usuario</h5>
                        <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/users/register" method="POST" class="mb-3">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                          <div class="mb-3">
                              <label for="nombre" class="form-label">Nombre completo:</label>
                              <input type="text" class="form-control" id="nombre" name="nombre" required>
                          </div>
                          <div class="mb-3">
                              <label for="nombre_usuario" class="form-label">Nombre de usuario:</label>
                              <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
                          </div>
                          <div class="mb-3">
                              <label for="contraseña1" class="form-label">Contraseña:</label>
                              <input type="password" class="form-control" id="contraseña1" name="contraseña1" required>
                          </div>
                          <div class="mb-3">
                              <label for="contraseña2" class="form-label">Confirmar contraseña:</label>
                              <input type="password" class="form-control" id="contraseña2" name="contraseña2" required>
                          </div>
                          <div class="mb-3">
                              <label for="rol" class="form-label">Selecciona un rol</label>
                              <select class="form-control" id="rol" name="rol" data-live-search="true" required>
                                  <% for (let rol of roles) { %>
                                      <option value="<%= rol.id_rol %>"> <%= rol.nombre %> </option> 
                                  <% } %>
                              </select>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Registrar Usuario</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% } %>
              <li class="nav-item">
                <a type="button" class="nav-link" data-toggle="modal" data-target="#ModificarCuenta">
                  Modificar Cuenta
                </a>
                <!-- Modal -->
                <div class="modal fade" id="ModificarCuenta" tabindex="-1" role="dialog" aria-labelledby="ModificarCuentaLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModificarCuentaLabel">Modificar Cuenta</h5>
                        <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/users/update" method="POST" class="mb-3">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                          <div class="mb-3">
                              <label for="nombre" class="form-label">Nombre completo:</label>
                              <input type="text" placeholder="<%= nombre[0].nombre %>" class="form-control" id="nombre" name="nombre" required>
                          </div>
                          <div class="mb-3">
                              <label for="nombre_usuario_nuevo" class="form-label">Nombre de usuario:</label>
                              <input disabled type="text" class="form-control" value="<%= username %>" placeholder="<%= username %>" id="nombre_usuario_nuevo" name="nombre_usuario_nuevo">
                          </div>
                          <div class="mb-3">
                              <label for="contraseña1" class="form-label">Contraseña:</label>
                              <input type="password" class="form-control" id="contraseña1" name="contraseña1" required>
                          </div>
                          <div class="mb-3">
                              <label for="contraseña2" class="form-label">Confirmar Contraseña:</label>
                              <input type="password" class="form-control" id="contraseña2" name="contraseña2" required>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Cerrar sesión</a>
              </li>
            </ul>
            <div class="form-inline my-2 my-md-0">
              <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
              <input type="text" class="form-control" id="buscar" name="buscar" onkeyup="buscar()" placeholder="Buscar proyecto">
            </div>
          </div>
        </nav>
    </header>