<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
            <!-- Page Content  -->
            <div id="content">
    
                <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-secondary">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-light">
                            <i class="fas fa-align-left"></i>
                            <!-- <span>Toggle Sidebar</span> -->
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a type="button" class="nav-link text-white" data-toggle="modal" data-target="#AgregarCaso">
                                    Agregar Caso de Uso
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a type="button" class="nav-link text-white" data-toggle="modal" data-target="#AgregarIteracion">
                                        Agregar Iteración
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="AgregarIteracion" tabindex="-1" role="dialog" aria-labelledby="AgregarIteracionLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content bg-dark text-white">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="AgregarIteracionLabel">Agregar Iteración</h5>
                                                                    <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                                                    <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/proyectos/<%=id%>/iteracion" method="POST" class="mb-3">
                                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                                                    <div class="mb-3">
                                                                        <label for="nombreIteracion" class="form-label">Nombre de iteración:</label>
                                                                        <input type="text" class="form-control" id="nombreIteracion" name="nombreIteracion" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                                                                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="fechaFin" class="form-label">Fecha de Fin:</label>
                                                                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-success">Agregar</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="AgregarCaso" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="AgregarPracticaLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content bg-dark text-white">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="AgregarPracticaLabel">Agregar Caso de Uso</h5>
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/proyectos/<%= id %>/caso_de_uso" method="POST">
                                                                        <input type="hidden" id= "_csrf" name="_csrf" value="<%= csrfToken %>" >
                                                                        <div class="mb-3">
                                                                            <label for="casoUso" class="form-label text-success">Caso de Uso:</label>
                                                                            <input type="text" class="form-control" id="casoUso" name="casoUso" required>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="iteracion" class="form-label text-success">Iteración</label>
                                                                            <select class="form-control" id="iteracion" name="iteracion" required>
                                                                                <% for (let iteracion of iteraciones) { %>
                                                                                    <option value="<%= iteracion.id_iteracion  %>"> <%= iteracion.nombre_iteracion %> </option> 
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="epic" class="form-label text-success">Epic:</label>
                                                                            <input type="text" class="form-control" id="epic" name="epic" required>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="ap" class="form-label text-success">AP:</label>
                                                                            <select class="form-control" id="ap" name="ap" required>
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>5</option>
                                                                                <option>8</option>
                                                                                <option>13</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-success">Agregar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                

                <div id = "mensaje" name = "mensaje">
                    .
                </div>

            <% if (success.length != 0) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Excelsior!</strong> <%= success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if (error.length != 0) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Holy natgas!</strong> <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
                <div>
                    <table class="table  table-hover table-dark table-striped">
                        <thead class="thead-success">
                            <tr>
                                <th class = "text-center" scope="col">Caso de uso</th>
                                <th class = "text-center" scope="col">Iteración</th>
                                <th class = "text-center" scope="col">Epic</th>
                                <th class = "text-center" scope="col">AP</th>
                                <th class = "text-center" scope="col">Status</th>
                                <th class = "text-center" scope="col">&nbsp</th>
                                <th class = "text-center" scope="col">&nbsp</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% for (let CasoUso of Casos) { %>

                                <tr>
                                    
                                    <td class = "text-center" style="width: 15rem"> <%= CasoUso.nombre_caso_de_uso %> </td>
                                    <td class = "text-center" style="width: 10rem"style="width: 10rem"> <%= CasoUso.nombre_iteracion %> </td>
                                    <td class = "text-center" style="width: 10rem"> <%= CasoUso.epic %> </td>
                                    <td class = "text-center" style="width: 10rem"> <%= CasoUso.valor %> </td>

                                    <input type="hidden" id="<%= CasoUso.id_caso_de_uso %>" value ="<%= CasoUso.id_caso_de_uso %>">
                                    <td style="width: 10rem">
                                        <select class="form-control" name="status" id="s<%= CasoUso.id_caso_de_uso %>" onchange="status('<%= CasoUso.id_caso_de_uso %>' , '<%=id%>')">'
                                            <option selected value=" <%=CasoUso.status_caso%>" class="font-weight-bold"> <%=CasoUso.status_caso%> </option>
                                            <option style="color:rgb(0, 255, 55)" value="Terminado" class="font-weight-bold" >Terminado</option>
                                            <option style="color:rgb(211, 22, 22)" value="Pendiente" class="font-weight-bold" >Pendiente</option>
                                        </select>
                                        
                                    </td>

                                    <td class = "text-center">
                                        <a onMouseover="this.style.cursor='pointer'" role="button" title="Modificar" data-toggle="tooltip" data-placement="top" onclick="modificar_caso('<%=id%>', '<%= CasoUso.id_caso_de_uso %>', '<%= CasoUso.nombre_caso_de_uso %>', '<%= CasoUso.iteracion %>', '<%= CasoUso.epic %>', '<%= CasoUso.valor %>')">
                                            <i data-toggle="modal" data-target="#modificarCaso" onMouseover="this.style.color='blue'" onMouseout="this.style.color='white'" class="fas fa-edit "></i>
                                        </a>
                                    </td>

                                    <td class = "text-center">
                                        <a onMouseover="this.style.cursor='pointer'" role="button" title="Eliminar" data-toggle="tooltip" data-placement="top" onclick="eliminar_caso('<%=id%>', '<%= CasoUso.id_caso_de_uso %>', '<%= CasoUso.nombre_caso_de_uso %>')">
                                            <i data-toggle="modal" data-target="#confirmDelete" onMouseover="this.style.color='red'" onMouseout="this.style.color='white'" class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>

                                </tr>

                            <% } %>  

                        </tbody>

                    </table>

                    <div class="modal fade" id="confirmDelete" tabindex="0" aria-hidden="true">
                        <div class="modal-dialog" >
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Eliminar caso de uso</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div>¿Eliminar el siguiente caso de uso?
                                    <i><strong id="nombreCasoUso"></strong></i>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button id="delete" type="button" class="btn btn-danger">Eliminar</button>
                              </div>
                            </div>
                          </div>                      
                    </div>

                    <div class="modal fade" id="modificarCaso"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" >
                            <div class="modal-content bg-dark text-white">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modificar caso de uso</h5>
                                <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="modal-body">
                                <div class="mb-3" id="modError" style="color: red"></div>
                                <div class="mb-3">
                                    <div><p class="form-label text-success"><strong>Caso de Uso:</strong></p></div>
                                    <input type="text" class="form-control" id="mod_nombre_caso" name="mod_nombre_caso" required>
                                </div>                                
                                <div class="mb-3">
                                    <label for="iteracion" class="form-label text-success"><strong>Iteración:</strong></label>
                                    <select class="form-control" id="mod_iteracion" name="mod_iteracion" required>
                                        <% for (let iteracion of iteraciones) { %>
                                            <option value="<%= iteracion.id_iteracion  %>"> <%= iteracion.nombre_iteracion %> </option> 
                                        <% } %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <div><p class="form-label text-success"><strong>Epic:</strong></p></div>
                                    <input type="text" class="form-control" id="mod_epic" name="mod_epic" required>
                                </div>
                                <div class="mb-3">
                                    <div><p class="form-label text-success"><strong>AP:</strong></p></div>
                                    <select class="form-control" id="mod_ap" name="mod_ap" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="8">8</option>
                                        <option value="13">13</option>
                                    </select>
                                </div>
                              </div>

                              <div class="modal-footer">
                                <button id="mod_ingresar" type="button" class="btn btn-success">Guardar cambios</button>
                              </div>
                            </div>
                          </div>                  
                    </div>

                    <div><br><br></div>

                    <div>
                        <table class="table  table-hover table-dark table-striped">
                            <thead class="thead-success">
                                <tr>
                                    <th class = "text-center" scope="col">Iteración</th>
                                    <th class = "text-center" scope="col">Fecha de inicio</th>
                                    <th class = "text-center" scope="col">Fecha de FIn</th>
                                    <th class = "text-center" scope="col">Progreso</th>
                                </tr>
                            </thead>
    
                            <tbody id="tablaIteraciones">
                                
    
                                <% for (let iteracion of iteraciones) { %>
                                    <% let i = new Date(iteracion.fechaInicio); %>
                                    <% let inicio = i.getDate() + '/' + (i.getMonth() + 1) + '/' + i.getFullYear(); %>
                                    <% let f = new Date(iteracion.fechaFin); %>
                                    <% let fin = f.getDate() + '/' + (f.getMonth() + 1) + '/' + f.getFullYear(); %>
                                    <tr>
                                        
                                        <td class = "text-center" style="width: 15rem"> <%= iteracion.nombre_iteracion %> </td>
                                        <td class = "text-center" style="width: 10rem"style="width: 10rem"> <%= inicio %> </td>
                                        <td class = "text-center" style="width: 10rem"> <%= fin %> </td>
                                        <% let totalCasos = 0; %>
                                        <% let totalTerminados = 0; %>
                                        <% for (let CasoUso of Casos) { %>
                                            <% if(CasoUso.nombre_iteracion == iteracion.nombre_iteracion){ %>
                                                <% totalCasos++; %>
                                                <% if(CasoUso.status_caso == "Terminado"){ %>
                                                    <% totalTerminados++; %>
                                                <% } %>
                                            <% } %>
                                        <% } %>

                                        <% if(totalCasos == 0 && totalTerminados == 0){ %>
                                            <% var progreso = 0; %>
                                        <% }
                                        else{ %>
                                            <% var progreso = Math.round((totalTerminados / totalCasos)*100,2); %>
                                        <% } %>

                                        <td class = "text-center" style="width: 10rem">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= progreso %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progreso %>%"><%= progreso %>%</div>
                                            </div>
                                        </td>
    
                                    </tr>
    
                                <% } %>  
    
                            </tbody>
    
                        </table>
                    </div>

                    <p><br></p>

                </div>

            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
</main>

<%- include('partials/footer.ejs') %>

<!-- Script para busqueda-->
<script src="/js/status.js"></script>

<script src="/js/eliminar_caso.js"></script>

<script src="/js/modificar_caso.js"></script>

<!-- Script para mensaje-->
<script>
    $(document).ready(function(){
        $('.toast').toast('show'); 
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>