<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-secondary">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-align-left"></i>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
        </nav>

        <h1 class= "text-white text-center"><%= titulo %></h1>

        <div class= row>

            <div class="table-responsive col-md-5 align-self-center mx-auto">
                <table id="tiempoReal" name="tiempoReal" class="table table-striped table-dark " >
                
                    <tbody>
                        
                        <tr>
                            
                            <th>Total de minutos</th>
                            <td ><%=tiempoReal[0].SumaMinutos%></td>
                        </tr>
    
                        <tr>
                            <th>Total de horas</th>
                            <td ><%=tiempoReal[0].SumaHoras%></td>
                        </tr>
    
                        <tr>
                            <% var tiempo1=((tiempoUsuarios[0].tiempo*(100-porcentajes[0].tiempo_perdido-porcentajes[0].errores_registro)/100)*(100-porcentajes[0].overhead)/100)*porcentajes[0].productivas/100 %>
                            <% tiempo1=Number.parseFloat(tiempo1).toFixed(2); %>
                            <th>Horas semanales de capacidad</th>
                            <td ><%=tiempo1%></td>
                        </tr>
    
                        <tr>
                            <% var tiempo2=tiempoReal[0].SumaHoras/tiempo1; %>
                            <% tiempo2=Number.parseFloat(tiempo2).toFixed(2); %>
                            <th>Total en semanas</th>
                            <td><%=tiempo2%></td>
                        </tr>
    
                        <tr>
                            <% var tiempo3=tiempo2/4.28; %>
                            <% tiempo3=Number.parseFloat(tiempo3).toFixed(2); %>
                            <th>Total en meses</th>
                            <td ><input value="<%=tiempo3%>" id="tiempo3" name="tiempo3" type="number" style="width: 5em;" disabled></td>
                        </tr>
    
                        <tr>
                            <th>Multiplicador</th>
                            <form action="/proyectos/<%= id %>/multiplicador?_csrf=<%=csrfToken%>" method="POST" >
                            <input type="hidden" id= "_csrf" name="_csrf" value="<%= csrfToken %>" >
                            <td>
                                <input step="any" value="<%=multiplicador[0].multiplicador%>" id="multiplicador" name="multiplicador" type="number" class="form-control" style="width: 5em;" >
                            </td>
                        </tr>
    
                        <tr>
                            <%var colchon=multiplicador[0].multiplicador*tiempo3%>
                            <th>Total en meses con colchón</th>
                            <td ><input type="number" value="<%=colchon%>" name="colchon" id="colchon" style="width: 5em;" disabled> </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>

            
                <div class="col-md-3 align-self-center mx-auto">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-info">Actualizar resultados</button>
                </div>
                </form>
                <div><br></div>
                <form action="/proyectos/<%= id %>/send_airtable" method="POST">
                    <input type="hidden" id= "_csrf" name="_csrf" value="<%= csrfToken %>" >
                    <div class="col-md-3 align-self-center mx-auto">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary"> Enviar a airtable</button>
                    </div>
                </form>
            



        <p><br></p>
        <!--Alerta-->
        <div id="alerta"></div>
        <% if (success.length != 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Excelsior!</strong> <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy natgas!</strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>

        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >

        <div id="accordion">

            <% for (let casoUso of casosUso){%>
                <input type="hidden" id="<%= casoUso.id_caso_de_uso %>" value ="<%= casoUso.id_caso_de_uso %>">
                <div class="card text-white bg-dark">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#c<%= casoUso.id_caso_de_uso %>" aria-expanded="false" aria-controls="collapseTwo">
                                <%= casoUso.nombre_caso_de_uso %>                     
                            </button>
                        </h5>
                    </div>
                    <div id="c<%= casoUso.id_caso_de_uso %>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <input type="hidden" id="<%= casoUso.id_caso_de_uso %>" value ="<%= casoUso.id_caso_de_uso %>">
                            <input type="hidden" id="p<%= casoUso.valor %>" value ="<%= casoUso.valor %>">

                            <table class="table table-secondary">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tarea</th>
                                        <th scope="col">Fase</th>
                                        <th scope="col">Tiempo</th>
                                    </tr>
                                </thead>

                                <tbody id="<%= casoUso.id_caso_de_uso %>registros">
                                    <% let count = 1; %>
                                    <% var sum = 0; %>
                                    <% for (var i = 0; i < casosTareas.length; i++){%>
                                        <% if (casoUso.nombre_caso_de_uso === casosTareas[i].nombre_caso_de_uso){%>
                                            <tr>
                                                <th scope="row"><%= count %></th>
                                                <td><%= casosTareas[i].nombre_tarea %></td>
                                                <td><%= casosTareas[i].nombre_fase %></td>
                                                <% if (casosTareas[i].maximo == null){%>
                                                    <td>0</td>
                                                <%}
                                                    else {%>
                                                    <td><%= casosTareas[i].maximo %></td>
                                                    <% sum = sum + parseInt(casosTareas[i].maximo, 10); %>
                                                    <% console.log(sum); %>
                                                <%}%>
                                                <td class="text-center">
                                                    <a onMouseover="this.style.cursor='pointer'" role="button" title="Eliminar" data-toggle="tooltip" data-placement="top" onclick="eliminar_practica('<%=id%>', '<%=casosTareas[i].id_fase%>', '<%=casosTareas[i].id_tarea%>', '<%=casosTareas[i].nombre_tarea%>', '<%= casosTareas[i].id_caso_de_uso %>')">
                                                        <i data-toggle="modal" data-target="#confirmDelete" onMouseover="this.style.color='red'" onMouseout="this.style.color='black'" class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% count++; %>
                                        <%}%>
                                    <%}%>

                                    <tr>
                                        <td  colspan="2" class="text-center">Total:</td>
                                        <td  colspan="2" class="text-center"><%= sum %></td>
                                    </tr>

                                    <tr>
                                        <td scope="row" colspan="4" class="text-center"><button class="btn btn-secondary" data-toggle="modal" data-target="#m<%= casoUso.id_caso_de_uso %>" id="<%= casoUso.id_caso_de_uso %>" onclick="incomingTareaCasoUso('<%= casoUso.id_caso_de_uso %>' , '<%=id%>')"> <i data-toggle="modal" data-target="#modificarCaso" onMouseover="this.style.color='blue'" onMouseout="this.style.color='white'" class="fas fa-plus"></i> </button> </td>
                                    </tr>
                                </tbody>
                            </table>
                                    <!--Modal-->
                                    <div class="modal fade" id="m<%= casoUso.id_caso_de_uso %>" tabindex="-1" role="dialog" aria-labelledby="m<%= casoUso.id_caso_de_uso %>Label" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="m<%= casoUso.id_caso_de_uso %>Label">Agregar Tarea a Caso de Uso</h5>
                                                <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="m<%= casoUso.id_caso_de_uso %>Tarea" class="form-label text-success">Tareas:</label>
                                                    <div id="<%= casoUso.id_caso_de_uso %>tareas"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addTareaCasoUso('<%= casoUso.id_caso_de_uso %>' , '<%=id%>', '<%= casoUso.valor %>')">Añadir Tarea</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="modal fade" id="confirmDelete" tabindex="0" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content" style="color: black;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar tarea de caso de uso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>¿Deseas eliminar la siguiente tarea?
                        <i><strong id="delNombrePractica"></strong></i>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="delete" type="button" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </div>                      
        </div>


        
    </div>
    <button onclick="topFunction()" id="myBtn2" title="Go to top"><i class="fas fa-angle-up"></i></button>
    <br><br><br><br>
</main>

<%- include('partials/footer.ejs') %>

<!-- Script para mostrar tareas-->
<script src="/js/incomingTareaCasoUso.js"></script>
<!-- Script para añadir tareas a caso de uso-->
<script src="/js/addTareaCasoUso.js"></script>
<!-- Script para ver cambios en multiplicador-->
<script src="/js/multiplicador.js"></script>

<script src="/js/eliminar_practica_planeacion.js"></script>

<!-- Boton -->
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn2");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>