<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
    <!-- Page Content  -->
    <div id="content">

        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-align-left"></i>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>

        <!--Alerta-->
        <div id="alerta"></div>

        <!--Peticion de despliegue de grafica-->
        <div>
            <% for (let iteracion of iteraciones) { %>
                <input type="hidden" id= "i<%= iteracion.id_iteracion %>" name="i<%= iteracion.id_iteracion %>" value="<%= iteracion.fechaInicio %>">
                <input type="hidden" id= "f<%= iteracion.id_iteracion %>" name="f<%= iteracion.id_iteracion %>" value="<%= iteracion.fechaFin %>">
                <input type="hidden" id= "n<%= iteracion.id_iteracion %>" name="n<%= iteracion.id_iteracion %>" value="<%= iteracion.nombre_iteracion %>">
            <% } %>
            <input type="hidden" id= "_csrf" name="_csrf" value="<%= csrfToken %>" >
            <div class="mb-3">
                <label for="rol" class="form-label text-success">Selecciona una iteracion</label>
                <select class="form-control" id="IT" name="IT" onchange="fetchGrafica('<%= id %>')">
                    <option selected>Choose...</option>
                    <% for (let iteracion of iteraciones) { %>
                        <option value="<%= iteracion.id_iteracion  %>"> <%= iteracion.nombre_iteracion %> </option> 
                    <% } %>
                </select>
            </div>
        </div>
        <br>
        
        <div id="grafica"></div>
        <br><br><br><br>
</main>

<%- include('partials/footer.ejs') %>

<!-- Script para busqueda-->
<script src="/js/fetchGrafica.js"></script>

<!-- Script para grafica-->
